@font-face {
  font-family: "Integral CF";
  src: url("../fonts/IntegralCF-Bold.woff2") format("woff2"), url("../fonts/IntegralCF-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2"), url("../fonts/Satoshi-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2"), url("../fonts/Satoshi-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2"), url("../fonts/Satoshi-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  color: black;
  background-color: #f4f4f5;
  padding-top: 7.375rem;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 79.375rem;
  margin: 0 auto;
  padding: 0rem 0.9375rem;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  background-color: white;
}
.header__burger {
  display: block;
  position: fixed;
  right: -100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 10;
  overflow: auto;
  padding-top: 1.25rem;
  padding-bottom: 1.875rem;
  text-align: center;
}

.top-header {
  background-color: black;
}
.top-header__container {
  position: relative;
}

.part-signup {
  color: white;
  font-family: "Satoshi", sans-serif;
  font-size: 0.875rem;
}
@media (max-width: 24.375em) {
  .part-signup {
    font-size: 0.75rem;
  }
}
.part-signup__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.part-signup__signup {
  font-weight: 500;
  text-decoration-line: underline;
}
.part-signup__close {
  background: url("../img/icon.png") center no-repeat;
  height: 1.25rem;
  width: 1.25rem;
  position: absolute;
  top: 0.5625rem;
  right: 0.625rem;
}
@media (max-width: 28.125em) {
  .part-signup__close {
    visibility: hidden;
  }
}
@media (any-hover: hover) {
  .part-signup__close:hover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.bottom-header {
  background-color: white;
}
.bottom-header__container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow: visible;
}
@media (max-width: 55.375em) {
  .bottom-header__container {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}
.bottom-header__search-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 34.4375em) {
  .bottom-header__search-new {
    display: none;
  }
}

.content-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}
@media (max-width: 34.4375em) {
  .content-menu {
    gap: 1.1875rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.content-menu__menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.1875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.content-menu__logo {
  font-size: 2rem;
  padding-bottom: 0.75rem;
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
}
@media (max-width: 34.4375em) {
  .content-menu__logo {
    font-size: 1.5625rem;
    padding-bottom: 0.5rem;
  }
}
.content-menu__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.content-menu__search {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.content-menu__client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.375rem;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
.content-menu__burger-btn {
  display: none;
}
@media (max-width: 56em) {
  .content-menu__burger-btn {
    display: block;
    position: relative;
    height: 1.125rem;
    width: 1.875rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    z-index: 2;
  }
  .content-menu__burger-btn::before, .content-menu__burger-btn::after,
  .content-menu__burger-btn span {
    content: "";
    height: 0.125rem;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #000;
  }
  .content-menu__burger-btn::before {
    top: 0;
  }
  .content-menu__burger-btn::after {
    bottom: 0;
  }
  .content-menu__burger-btn span {
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

.menu-open body {
  overflow: visible;
}
.menu-open .content-menu__burger-btn {
  padding: 0.9375rem;
  background-color: #f0f0f0;
  border-radius: 1.25rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.menu-open .content-menu__burger-btn::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
  margin-top: -0.0625rem;
  background-color: black;
}
.menu-open .content-menu__burger-btn::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 50%;
  margin-bottom: -0.0625rem;
  background-color: black;
}
.menu-open .content-menu__burger-btn span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background-color: black;
}
@media (any-hover: hover) {
  .menu-open .item-submenu__link:active::after {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
.menu-open .item-submenu__submenu-list {
  font-size: 1.125rem;
  top: -0.5rem;
  left: 100%;
  padding: 0.625rem;
}
@media (max-width: 34.4375em) {
  .menu-open .search-header {
    display: none;
  }
}
.menu-open .header__burger {
  right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-part {
  position: relative;
  display: inline-block;
}
.menu-part__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 79.375em) {
  .menu-part__list {
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports ((-moz-column-gap: clamp( 0.75rem , 0.4973684211rem  +  1.2631578947vw , 1.5rem )) or (column-gap: clamp( 0.75rem , 0.4973684211rem  +  1.2631578947vw , 1.5rem ))) {
    .menu-part__list {
      -webkit-column-gap: clamp( 0.75rem , 0.4973684211rem  +  1.2631578947vw , 1.5rem );
         -moz-column-gap: clamp( 0.75rem , 0.4973684211rem  +  1.2631578947vw , 1.5rem );
              column-gap: clamp( 0.75rem , 0.4973684211rem  +  1.2631578947vw , 1.5rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 0.75rem , 0.4973684211rem  +  1.2631578947vw , 1.5rem )) or (column-gap: clamp( 0.75rem , 0.4973684211rem  +  1.2631578947vw , 1.5rem ))) {
    .menu-part__list {
      -webkit-column-gap: calc(0.75rem + 0.75 * (100vw - 20rem) / 59.375);
         -moz-column-gap: calc(0.75rem + 0.75 * (100vw - 20rem) / 59.375);
              column-gap: calc(0.75rem + 0.75 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .menu-part__list {
    -webkit-column-gap: 0.75rem;
       -moz-column-gap: 0.75rem;
            column-gap: 0.75rem;
  }
}
@media (max-width: 74.75em) {
  .menu-part__list {
    -webkit-column-gap: 1.125rem;
       -moz-column-gap: 1.125rem;
            column-gap: 1.125rem;
  }
}
@media (max-width: 56em) {
  .menu-part__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.375rem;
  }
}
.menu-part__item {
  padding: 0.3125rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (any-hover: hover) {
  .menu-part__item:hover, .menu-part__item:active, .menu-part__item:focus {
    background-color: #f0f0f0;
    border-radius: 1.25rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.item-submenu {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.item-submenu__link {
  display: block;
}
.item-submenu__link::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background: url("../img/down.svg") 0 0.125rem/100% no-repeat;
  margin-left: 0.375rem;
}
@media (any-hover: hover) {
  .item-submenu__link:hover, .item-submenu__link:active, .item-submenu__link:focus {
    background-color: #f0f0f0;
    border-radius: 1.25rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .item-submenu__link:hover::after, .item-submenu__link:active::after, .item-submenu__link:focus::after {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
@media (any-hover: hover) {
  .item-submenu:hover, .item-submenu:active, .item-submenu:focus {
    background-color: #f0f0f0;
    border-radius: 1.25rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .item-submenu:hover .item-submenu__submenu-list, .item-submenu:active .item-submenu__submenu-list, .item-submenu:focus .item-submenu__submenu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .item-submenu:hover .item-submenu__link::after, .item-submenu:active .item-submenu__link::after, .item-submenu:focus .item-submenu__link::after {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
.item-submenu__submenu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  font-size: 0.875rem;
  background-color: white;
  border: 1.25rem;
  position: absolute;
  top: 1.5625rem;
  left: 0.25rem;
  padding: 0.625rem;
  display: none;
}
.item-submenu__submenu-link {
  padding: 0.3125rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (any-hover: hover) {
  .item-submenu__submenu-link:hover {
    background-color: #f0f0f0;
    border-radius: 1.25rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.search-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search-header__input {
  min-width: 36.0625rem;
  background-color: #f4f4f5;
  border-radius: 1.3125rem;
  text-align: left;
  color: #000;
  outline: none;
  padding: 0.9375rem 0.9375rem 0.9375rem 3.125rem;
}
@media (min-width: 79.375em) {
  .search-header__input {
    min-width: 36.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (min-width: clamp( 7.5rem , -2.1210526316rem  +  48.1052631579vw , 36.0625rem )) {
    .search-header__input {
      min-width: clamp( 7.5rem , -2.1210526316rem  +  48.1052631579vw , 36.0625rem );
    }
  }
  @supports not (min-width: clamp( 7.5rem , -2.1210526316rem  +  48.1052631579vw , 36.0625rem )) {
    .search-header__input {
      min-width: calc(7.5rem + 28.5625 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .search-header__input {
    min-width: 7.5rem;
  }
}
.search-header__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.search-header__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.search-header__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.search-header__input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.search-header__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.search-header__input::-webkit-input-placeholder:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
.search-header__input::-moz-placeholder:focus::-moz-placeholder {
  opacity: 0.5;
}
.search-header__input:-ms-input-placeholder:focus:-ms-input-placeholder {
  opacity: 0.5;
}
.search-header__input::-ms-input-placeholder:focus::-ms-input-placeholder {
  opacity: 0.5;
}
.search-header__input::placeholder:focus::placeholder {
  opacity: 0.5;
}
@media (max-width: 71.625em) {
  .search-header__input {
    min-width: 25rem;
  }
}
@media (max-width: 61.9375em) {
  .search-header__input {
    min-width: 18.75rem;
  }
}
@media (max-width: 40.1875em) {
  .search-header__input {
    min-width: 13.75rem;
  }
}
@media (max-width: 34.4375em) {
  .search-header__input {
    min-width: 21.875rem;
    font-size: 1.25rem;
  }
}
@media (max-width: 23.4375em) {
  .search-header__input {
    min-width: 18.75rem;
  }
}
.search-header__button-search {
  width: 1.5rem;
  height: 1.5rem;
  background: url("../img/find.svg") center no-repeat;
  position: absolute;
  z-index: 5;
  top: 0.9375rem;
  left: 0.9375rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (any-hover: hover) {
  .search-header__button-search:hover {
    background-color: #f0f0f0;
    border-radius: 1.25rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@media (max-width: 34.4375em) {
  .search-header__button-search {
    top: 1.125rem;
  }
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  display: none;
}

@media (max-width: 34.4375em) {
  .client-button__search-client {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    top: 0.4375rem;
    left: 0;
    padding: 0.625rem;
    background: url("../img/find-bl.png") center no-repeat;
  }
}
@media (any-hover: hover) {
  .client-button__search-client:hover {
    background-color: #f0f0f0;
    border-radius: 1.25rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.client-button__account, .client-button__shopping {
  padding: 0.3125rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.client-button__account::before, .client-button__shopping::before {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
}
@media (any-hover: hover) {
  .client-button__account:hover, .client-button__shopping:hover {
    background-color: #f0f0f0;
    border-radius: 1.25rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.client-button__account::before {
  background: url("../img/person.png") 0 0/100% no-repeat;
}
.client-button__shopping::before {
  background: url("../img/basket.svg") 0 0/100% no-repeat;
}

/*main*/
/* style section*/
.section-style {
  display: grid;
  background-color: #f4f4f5;
  grid-template-columns: 0.9375rem 1fr minmax(auto, 77.5rem) 1fr 0.9375rem;
}
.section-style__content {
  grid-column: 3/6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 79.375em) {
  .section-style__content {
    gap: 3.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (gap: clamp( 0.0000000625rem , -1.1157893901rem  +  5.5789472632vw , 3.3125rem )) {
    .section-style__content {
      gap: clamp( 0.0000000625rem , -1.1157893901rem  +  5.5789472632vw , 3.3125rem );
    }
  }
  @supports not (gap: clamp( 0.0000000625rem , -1.1157893901rem  +  5.5789472632vw , 3.3125rem )) {
    .section-style__content {
      gap: calc(0.0000000625rem + 3.3124999375 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .section-style__content {
    gap: 0.0000000625rem;
  }
}
@media (max-width: 48.0625em) {
  .section-style__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-column: 2/5;
  }
}
.section-style__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 79.375em) {
  .section-style__left {
    padding-top: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-top: clamp( 2.25rem , 1.1131578947rem  +  5.6842105263vw , 5.625rem )) {
    .section-style__left {
      padding-top: clamp( 2.25rem , 1.1131578947rem  +  5.6842105263vw , 5.625rem );
    }
  }
  @supports not (padding-top: clamp( 2.25rem , 1.1131578947rem  +  5.6842105263vw , 5.625rem )) {
    .section-style__left {
      padding-top: calc(2.25rem + 3.375 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .section-style__left {
    padding-top: 2.25rem;
  }
}
@media (min-width: 79.375em) {
  .section-style__left {
    -ms-flex-preferred-size: 37.3125rem;
        flex-basis: 37.3125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (flex-basis: clamp( 22.1875rem , 17.0927631579rem  +  25.4736842105vw , 37.3125rem )) {
    .section-style__left {
      -ms-flex-preferred-size: clamp( 22.1875rem , 17.0927631579rem  +  25.4736842105vw , 37.3125rem );
          flex-basis: clamp( 22.1875rem , 17.0927631579rem  +  25.4736842105vw , 37.3125rem );
    }
  }
  @supports not (flex-basis: clamp( 22.1875rem , 17.0927631579rem  +  25.4736842105vw , 37.3125rem )) {
    .section-style__left {
      -ms-flex-preferred-size: calc(22.1875rem + 15.125 * (100vw - 20rem) / 59.375);
          flex-basis: calc(22.1875rem + 15.125 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .section-style__left {
    -ms-flex-preferred-size: 22.1875rem;
        flex-basis: 22.1875rem;
  }
}
@media (max-width: 24.375em) {
  .section-style__left {
    padding-top: 0rem;
  }
}
.section-style__right {
  position: relative;
}
@media (min-width: 79.375em) {
  .section-style__right {
    padding-top: 1.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (padding-top: clamp( 0.0000000625rem , -0.3578946533rem  +  1.7894735789vw , 1.0625rem )) {
    .section-style__right {
      padding-top: clamp( 0.0000000625rem , -0.3578946533rem  +  1.7894735789vw , 1.0625rem );
    }
  }
  @supports not (padding-top: clamp( 0.0000000625rem , -0.3578946533rem  +  1.7894735789vw , 1.0625rem )) {
    .section-style__right {
      padding-top: calc(0.0000000625rem + 1.0624999375 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .section-style__right {
    padding-top: 0.0000000625rem;
  }
}
.section-style__right::before {
  content: "";
  position: absolute;
  left: 0;
  width: 3.5rem;
  height: 3.5rem;
  background: url("../img/star01.png") center center/100% no-repeat;
  z-index: 10;
}
@media (min-width: 79.375em) {
  .section-style__right::before {
    top: 18.625rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (top: clamp( 8.6875rem , 5.3401315789rem  +  16.7368421053vw , 18.625rem )) {
    .section-style__right::before {
      top: clamp( 8.6875rem , 5.3401315789rem  +  16.7368421053vw , 18.625rem );
    }
  }
  @supports not (top: clamp( 8.6875rem , 5.3401315789rem  +  16.7368421053vw , 18.625rem )) {
    .section-style__right::before {
      top: calc(8.6875rem + 9.9375 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .section-style__right::before {
    top: 8.6875rem;
  }
}
@media (max-width: 48.0625em) {
  .section-style__right::before {
    left: 1.875rem;
  }
}
.section-style__right::after {
  content: "";
  position: absolute;
  right: 0;
  background: url("../img/star02.svg") center center/100% no-repeat;
}
@media (min-width: 79.375em) {
  .section-style__right::after {
    top: 5.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (top: clamp( 2rem , 0.8421052632rem  +  5.7894736842vw , 5.4375rem )) {
    .section-style__right::after {
      top: clamp( 2rem , 0.8421052632rem  +  5.7894736842vw , 5.4375rem );
    }
  }
  @supports not (top: clamp( 2rem , 0.8421052632rem  +  5.7894736842vw , 5.4375rem )) {
    .section-style__right::after {
      top: calc(2rem + 3.4375 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .section-style__right::after {
    top: 2rem;
  }
}
@media (min-width: 79.375em) {
  .section-style__right::after {
    width: 6.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (width: clamp( 4.75rem , 4.1605263158rem  +  2.9473684211vw , 6.5rem )) {
    .section-style__right::after {
      width: clamp( 4.75rem , 4.1605263158rem  +  2.9473684211vw , 6.5rem );
    }
  }
  @supports not (width: clamp( 4.75rem , 4.1605263158rem  +  2.9473684211vw , 6.5rem )) {
    .section-style__right::after {
      width: calc(4.75rem + 1.75 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .section-style__right::after {
    width: 4.75rem;
  }
}
@media (min-width: 79.375em) {
  .section-style__right::after {
    height: 6.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (height: clamp( 4.75rem , 4.1605263158rem  +  2.9473684211vw , 6.5rem )) {
    .section-style__right::after {
      height: clamp( 4.75rem , 4.1605263158rem  +  2.9473684211vw , 6.5rem );
    }
  }
  @supports not (height: clamp( 4.75rem , 4.1605263158rem  +  2.9473684211vw , 6.5rem )) {
    .section-style__right::after {
      height: calc(4.75rem + 1.75 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .section-style__right::after {
    height: 4.75rem;
  }
}
@media (max-width: 48.0625em) {
  .section-style__right::after {
    right: 1.875rem;
  }
}
@media (max-width: 48.0625em) {
  .section-style__right {
    margin-left: -1.5625rem;
    margin-right: -1.5625rem;
  }
}
.section-style__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 620/663;
}

.left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.left-content__title {
  color: #000;
  text-align: left;
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  text-transform: none;
}
@media (min-width: 79.375em) {
  .left-content__title {
    font-size: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (font-size: clamp( 2.25rem , 1.6605263158rem  +  2.9473684211vw , 4rem )) {
    .left-content__title {
      font-size: clamp( 2.25rem , 1.6605263158rem  +  2.9473684211vw , 4rem );
    }
  }
  @supports not (font-size: clamp( 2.25rem , 1.6605263158rem  +  2.9473684211vw , 4rem )) {
    .left-content__title {
      font-size: calc(2.25rem + 1.75 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .left-content__title {
    font-size: 2.25rem;
  }
}
@media (min-width: 79.375em) {
  .left-content__title {
    margin-bottom: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.9973684211rem  +  1.2631578947vw , 2rem )) {
    .left-content__title {
      margin-bottom: clamp( 1.25rem , 0.9973684211rem  +  1.2631578947vw , 2rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.9973684211rem  +  1.2631578947vw , 2rem )) {
    .left-content__title {
      margin-bottom: calc(1.25rem + 0.75 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .left-content__title {
    margin-bottom: 1.25rem;
  }
}
.left-content__info {
  color: #000;
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: 0;
}
@media (min-width: 79.375em) {
  .left-content__info {
    margin-bottom: 1.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (margin-bottom: clamp( 1.0625rem , 0.8519736842rem  +  1.0526315789vw , 1.6875rem )) {
    .left-content__info {
      margin-bottom: clamp( 1.0625rem , 0.8519736842rem  +  1.0526315789vw , 1.6875rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.0625rem , 0.8519736842rem  +  1.0526315789vw , 1.6875rem )) {
    .left-content__info {
      margin-bottom: calc(1.0625rem + 0.625 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .left-content__info {
    margin-bottom: 1.0625rem;
  }
}
@media (max-width: 24.375em) {
  .left-content__info {
    font-size: 0.875rem;
  }
}
.left-content__button {
  margin-bottom: 3rem;
  min-width: 13.125rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  border-radius: 3.875rem;
  background-color: black;
  margin-right: auto;
}
@media (max-width: 45.1875em) {
  .left-content__button {
    margin: 0 auto;
    margin-bottom: 1.375rem;
    min-width: 22.375rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 22.5em) {
  .left-content__button {
    min-width: 20.5rem;
  }
}
.left-content__button span {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  color: #fff;
}
@media (max-width: 24.375em) {
  .left-content__button span {
    font-size: 0.75rem;
  }
}
@media (any-hover: hover) {
  .left-content__button {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .left-content__button:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.left-content__statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 79.375em) {
  .left-content__statistics {
    gap: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports (gap: clamp( 1.375rem , 0.4907894737rem  +  4.4210526316vw , 4rem )) {
    .left-content__statistics {
      gap: clamp( 1.375rem , 0.4907894737rem  +  4.4210526316vw , 4rem );
    }
  }
  @supports not (gap: clamp( 1.375rem , 0.4907894737rem  +  4.4210526316vw , 4rem )) {
    .left-content__statistics {
      gap: calc(1.375rem + 2.625 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .left-content__statistics {
    gap: 1.375rem;
  }
}
@media (max-width: 33.6875em) {
  .left-content__statistics {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.375rem;
  }
}

.statistics-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-family: "Satoshi", sans-serif;
}
@media (max-width: 33.6875em) {
  .statistics-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.statistics-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 36.0625em) {
  .statistics-list__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.statistics-list__info--count {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: none;
}
.statistics-list__info--info-count {
  text-align: left;
  font-weight: 400;
  line-height: 1.375;
}

/* section brands*/
.name-brands {
  padding-top: 2.8125rem;
  padding-bottom: 2.8125rem;
  background-color: #000;
}
@media (max-width: 34.4375em) {
  .name-brands {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
.list-brands__list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.125rem;
  text-align: center;
}
@media (min-width: 79.375em) {
  .list-brands__list {
    -webkit-column-gap: 6.25rem;
       -moz-column-gap: 6.25rem;
            column-gap: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  @supports ((-moz-column-gap: clamp( 2.0625rem , 0.6519736842rem  +  7.0526315789vw , 6.25rem )) or (column-gap: clamp( 2.0625rem , 0.6519736842rem  +  7.0526315789vw , 6.25rem ))) {
    .list-brands__list {
      -webkit-column-gap: clamp( 2.0625rem , 0.6519736842rem  +  7.0526315789vw , 6.25rem );
         -moz-column-gap: clamp( 2.0625rem , 0.6519736842rem  +  7.0526315789vw , 6.25rem );
              column-gap: clamp( 2.0625rem , 0.6519736842rem  +  7.0526315789vw , 6.25rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 2.0625rem , 0.6519736842rem  +  7.0526315789vw , 6.25rem )) or (column-gap: clamp( 2.0625rem , 0.6519736842rem  +  7.0526315789vw , 6.25rem ))) {
    .list-brands__list {
      -webkit-column-gap: calc(2.0625rem + 4.1875 * (100vw - 20rem) / 59.375);
         -moz-column-gap: calc(2.0625rem + 4.1875 * (100vw - 20rem) / 59.375);
              column-gap: calc(2.0625rem + 4.1875 * (100vw - 20rem) / 59.375);
    }
  }
}
@media (max-width: 20em) {
  .list-brands__list {
    -webkit-column-gap: 2.0625rem;
       -moz-column-gap: 2.0625rem;
            column-gap: 2.0625rem;
  }
}
@media (max-width: 34.4375em) {
  .list-brands__list {
    -webkit-column-gap: 2.0625rem;
       -moz-column-gap: 2.0625rem;
            column-gap: 2.0625rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 59.4375em) {
  .list-brands__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (any-hover: hover) {
  .list-brands__item {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .list-brands__item:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.list-brands__img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 34.4375em) {
  .list-brands__img {
    width: 75%;
    height: 75%;
  }
}