@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Light.woff2") format("woff2"),
        url("../fonts/ProximaNova-Light.woff") format("woff");
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}