@use "sass:math";
@import url("https://fonts.googleapis.com/css?family=Exo+2:regular&display=swap");
@import url('https://fonts.googlapis.com/css?family=Quicksand:300,regular,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,regular,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700');

@import "_fonts.scss";
@import "_reset.scss";
@import "variables";


body {


    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    line-height: 1.25;
    color: $main_text_color;
    background-color: $main_color;



}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}



[class*=__container] {
    max-width: 1302px;
    margin: 0 auto;
    padding: 0px 15px;
    overflow: hidden;

}

.page {
    position: relative;
    z-index: 10;
    overflow: hidden;
    width: 100%;

}

.header {

    // .header__menu
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;


    &__menu {
        background-color: rgba(0, 0, 0, 0.8); // $main_color;
        padding-top: calc(25px + (45 - 25) * ((100vw - 475px) / (1270 - 475)));
        padding-bottom: calc(25px + (45 - 25) * ((100vw - 475px) / (1270 - 475)));
    }
}





.menu-header {

    // .menu-header__container

    &__container {
        display: flex;
        justify-content: space-between;
        row-gap: 10px;
        column-gap: calc(15px + (30 - 15) * ((100vw - 475px) / (1270 - 475)));

        align-content: center;
    }
}

.menu {

  

    // .menu__logo

    &__logo {
        display: flex;
        justify-content: start;
        flex-shrink: 0;
        font-size: calc(16px + (18 - 16) * ((100vw - 475px) / (1270 - 475)));
        align-items: center;
        font-family: "Exo+2", sans-serif;
        font-weight: 400;
        line-height: 0.66;
        letter-spacing: -3px;

        @media (any-hover: hover) {
            &:hover {
                color: $hoover_color;

            }
        }

    }

    // .menu__middle

    &__middle {
        display: flex;
        flex-wrap: wrap;

    }

    // .menu__right

    &__right {
        display: flex;
        align-items: center;
        column-gap: calc(10px + (20 - 10) * ((100vw - 475px) / (1270 - 475)));
        transition: all 0.8s;



        @media(max-width:695px) {

            align-items: center;
            justify-content: center;




        }

    }

    &__button {
        flex-shrink: 0;
        display: none;
        height: 19px;
        width: 30px;
        transition: all 0.3s;
        position: relative;

        @media(max-width:685px) {
            display: block;


            &::before {
                content: "";
                position: absolute;
                height: 3px;
                width: 100%;
                top: 0;
                left: 0;
                background-color: white;
            }

            &::after {
                content: "";
                position: absolute;
                height: 3px;
                width: 100%;
                bottom: 0px;
                left: 0;
                background-color: white;
            }

            span {

                height: 3px;
                width: 100%;
                position: absolute;
                top: 50%;
                left: 0;

                background-color: white;
                transform: translate(0, -50%);
            }

        }

    }

}

.header {

    // .header__burger

    &__burger {
        display: block;
        position: fixed;
        top: 93px;
        right: -100%;
        transition: all 0.8s;
        width: 100%;
        height: 100%;
        background-color: rgb(46, 20, 41);
        opacity: 0.8;
        z-index: 1;
        overflow: auto;


    }


}



.menu-open {

    .header__burger {
        @media(max-width:685px) {
            right: 0;
        }

    }

    @media(max-width:685px) {
        .list-menu {
            &__items {
                right: 10%;
            }

        }

    }



    .menu {
        &__button {
            &::before {
                transform: rotate(-45deg);
                top: 50%;
                margin-top: -2px;
                background-color: $hoover_color;
            }

            &::after {
                transform: rotate(45deg);
                bottom: 50%;
                margin-bottom: -2px;
                background-color: $hoover_color;
            }

            span {
                visibility: hidden;
            }

        }


    }


}









.list-menu {

    // .list-menu__lists
    transition: all 0.8s;

    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1270 - 320)));



    &__items {
        display: flex;
       flex-wrap: wrap;
        transition: all 0.8s;
        row-gap: 10px;
        column-gap: calc(20px + (49 - 20) * ((100vw - 475px) / (1270 - 475)));

        text-transform: uppercase;

        @media(max-width:685px) {

            padding-top: 10px;
            position: absolute;
            flex-direction: column;

            font-size: 150%;
            align-items: flex-end;

            column-gap: 10px;
            row-gap: 25px;
            top: 100px;
            right: -100%;
            z-index: 10;


        }



    }


    &__item {
        padding: 13px 10px;
        align-items: center;

        @media (any-hover: hover) {
            &:hover {
                //  transform: scale(1.05);

                background-color: $hoover_color;

            }
        }
    }



}

.social {

    &__media {
        display: flex;
        align-items: center;

        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.1);
                background-color: $hoover_color;
                outline: 2px solid $hoover_color;
            }
        }

    }


}

/*End Menu*/

@mixin spotTheme($top, $right) {
    content: "";
    position: absolute;
    z-index: -5;
    border-radius: 50%;
    top: $top;
    left: $right;


    width: calc(120px + (480 - 120) * ((100vw - 475px) / (1270 - 475)));
    height: calc(80px + (480 - 80) * ((100vw - 475px) / (1270 - 475)));

    background: linear-gradient(90deg, rgba(151, 0, 255, 60%) 0%, rgba(87, 255, 28, 60%) 37%, rgba(255, 0, 0, 60%) 67%, rgba(0, 56, 255, 60%) 100%);
    filter: blur(50px);
   opacity: 0.3;
  @media(max-width: 473px) {
    width: 120px;
    height: 80px;
    }
}

@keyframes spot {

    50% {
        transform: translate(250%, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }

}

@keyframes spot-ater {

    50% {
        transform: translate(-250%, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }

}




.page {

    &__avatar {

        transition: all 0.5s;
        position: relative;
        z-index: 5;
        //margin-bottom: 100px;

        &::before {
            @include spotTheme(-20%, -85px);

            @media(max-width:747px) {
                @include spotTheme(0, -85px);
            }

            @media(max-width: 697px) {
                top: 315px;
                opacity: 0.6;
                filter: blur(30px);
            }
          
            
        

            animation: spot 15s infinite;
        }

        &::after {

            @include spotTheme(200px, 74%);

            animation: spot-ater 15s infinite;

            @media(max-width: 697px) {
                top: 500px;
                opacity: 0.6;
                filter: blur(30px);
            }
        }

    }

}

//background: url("../img/lightning-right.png") 10% 10% /auto no-repeat,
//url("../img/lightning.png") 0 0 /auto no-repeat;


.avatar {
    background-color: black;
    position: relative;
    z-index: 10;
    // .avatar__container




}

.personal-info {
    margin-top: calc(65px + (125 - 65) * ((100vw - 475px) / (1270 - 475)));

    &__group {
        column-gap: calc(30px + (70 - 30) * ((100vw - 475px) / (1270 - 475)));
        display: flex;


    }
}

.personal {
    padding-top: calc(20px + (114 - 20) * ((100vw - 475px) / (1270 - 475)));

    //   padding-bottom: calc(20px + (114 - 20) * ((100vw - 475px) / (1270 - 475)));
    display: flex;




    // .personal__info

    &__info {

        display: flex;
        flex-direction: column;
        max-width: 588px;
        row-gap: calc(10px + (30 - 10) * ((100vw - 475px) / (1270 - 475)));
        flex: 0 0 50%;
    }

    // .personal__photo


}

.info-personal {

    // .info-personal__name

    &__name {
        font-family: "Exo", sans-serif;
        font-weight: 400;
        font-size: calc(14px + (18 - 14) * ((100vw - 475px) / (1270 - 475)));

        display: flex;
        flex-shrink: 1;
        flex-direction: column;
        row-gap: 14px;

        line-height: 1.11;
        letter-spacing: -0.02em;
        text-transform: uppercase;

        @media(max-width: 695px) {
            line-height: 1.07;
        }

        &::after {
            content: "";
            width: 26%;
            height: 2px;

            background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 51%, rgba(36, 0, 255, 1) 100%);

        }
    }

    // .info-personal__job

    &__job {
        font-family: "Exo", sans-serif;
        font-weight: 700;
        font-size: calc(32px + (80 - 32) * ((100vw - 475px) / (1270 - 475)));
        line-height: 0.87;
        text-transform: uppercase;

        @media(max-width: 695px) {
            line-height: 1.07;
            font-size: 32px;
        }

        @media(min-width: 1305px) {

            font-size: 80px;
        }
    }

    // .info-personal__activity

    &__activity {
        font-family: "Exo", sans-serif;
        font-weight: 400;
        font-size: calc(14px + (18 - 14) * ((100vw - 475px) / (1270 - 475)));
        line-height: 2.22;
        letter-spacing: -0.02em;
        text-transform: capitalize;

        @media(max-width: 695px) {
            line-height: 1.07;
        }
    }

    // .info-personal__button

    &__button {
        // padding: 15px 60px;
        width: calc(173px + (253 - 173) * ((100vw - 475px) / (1270 - 475)));
        height: calc(35px + (50 - 35) * ((100vw - 475px) / (1270 - 475)));
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
        background: #6f00a9;

        font-weight: 900;
        font-size: calc(14px + (20 - 14) * ((100vw - 475px) / (1270 - 475)));
        flex-shrink: 0;
        text-transform: uppercase;


        @media (any-hover:hover) {
            &:hover {

                background-color: #0B0045;
            }
        }
    }
}



.personal {

    // .personal__wrapper

    &__wrapper {

        position: relative;
        flex: 0 0 60%;
        justify-content: center;

        z-index: 4;
        gap: 30px 20px;

    }
}

.photo-personal {
    position: relative;
    flex: 0 0 47%;
    justify-content: center;
    max-width: 688px;
    z-index: 4;
    gap: 30px 20px;

    // .photo-personal__light-right

    &__light-right {
        position: absolute;
        bottom: 0px;
        right: 0px;
        z-index: 5;

        @media(max-width: 864px) {
            bottom: -15px;
            right: -80px;

        }

        img {
            @media(max-width: 695px) {
                display: none;
            }

            @media(max-width: 864px) {
                width: 80%;

            }

        }


    }
}



.photo-block {

    // .photo-block__letter1
    max-width: 688px;

    &__letter1 {
        position: absolute;
        transform: rotate(-45deg);
        top: 0px;
        left: 0px;

        img {
            width: 110px;
            height: 136px;

        }

        @media(max-width: 853px) {
            top: -34px;

            img {
                width: 75%;

            }

        }

        @media(max-width: 515px) {

            transform: rotate(-15deg);
            top: -46px;

            img {

                width: 50%;

            }

        }



    }

    // .photo-block__light

    &__light {
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 5;

        @media(max-width: 863px) {

            //  bottom:-53px;
            left: -48px;
        }

   

        @media(max-width: 475px) {


            left: 0px;

        }

        img {
            @media(max-width: 864px) {
                width: 80%;

            }

            @media(max-width: 765px) {
                width: 87%;


            }

            @media(max-width: 475px) {
                width: 70%;



            }


        }

    }

    // .photo-block__photo

    &__photo {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        position: relative;
        z-index: 15;

        img {
            aspect-ratio: 376/508;
        }

        @media(max-width: 863px) {
            img {
                aspect-ratio: 177/260;

            }


            justify-content: center;


        }



    }



    // .photo-block__letter2

    &__letter2 {
        position: absolute;

        transform: rotate(30deg);

        z-index: 2;
        top: 53px;
        right: 0; //calc(53px + (131 - 53) * ((100vw - 475px) / (1270 - 475)));

        @media(max-width: 768px) {
            img {
                width: 75%;
            }

        }

        @media(max-width: 863px) {

            top: 0px;
            right: 38px;

            img {
                width: 80%;

            }


        }

        @media(max-width: 765px) {

            top: 0px;
            right: 20px;

            img {
                width: 75%;

            }


        }

        @media(max-width: 515px) {

            top: 25px;
            right: 20px;

            img {
                width: 60%;

            }


        }

        @media(max-width: 475px) {

            top: 44px;
            right: 69px;

            img {
                width: 20px;
                height: 28px;

            }

        }


    }
}

.page {



    // .page__section

    &__aboutme {
        background: linear-gradient(180deg, rgb(0 0 0 / 91%) 0%, rgb(0 0 0 / 93%) 37%, rgb(0 0 0 / 87%) 100%), url("../img/about_section.png") center center /auto no-repeat;
        position: relative;
        z-index: 10;
        padding-top: calc(33px + (120 - 33) * ((100vw - 475px) / (1270 - 475)));
        padding-bottom: calc(20px + (100 - 20) * ((100vw - 475px) / (1270 - 475)));


        &:not(:last-child) {
            margin-bottom: calc(33px + (116 - 33) * ((100vw - 475px) / (1270 - 475)));
        }
    }
}



@keyframes line {
    0% {
        transform: translate(0%, 0);
    }

    100% {
        transform: translate(-80%, 0);
    }
}

.about-info {

    font-family: "Exo", sans-serif;

    text-align: center;


    // .about-info__up

    &__up {
        display: flex;
        column-gap: 20px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: calc(20px + (60 - 20) * ((100vw - 475px) / (1270 - 475)));


        align-items: center;
        align-content: center;
        flex: 0 1 992px;

    }

    // .about-info__down
    &__down {

        display: flex;
        gap: 10px;

        font-family: "Orbitron", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 125%;


    }

    // .about-info__title

    &__title {
        text-align: center;
        width: calc(142px + (401 - 142) * ((100vw - 475px) / (1270 - 475)));


        font-weight: 700;
        font-size: calc(24px + (60 - 24) * ((100vw - 475px) / (1270 - 475)));
        line-height: 1.17;
        text-transform: uppercase;
        margin-bottom: 20px;
        align-items: center;

        @media(max-width:625px) {
            line-height: 1.25;

        }

        &::after {
            margin: 0 auto;
            max-width: 140%;
            height: 1px;
            display: block;

            content: "";
            background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 51%, rgba(36, 0, 255, 1) 100%);
            margin-top: 25px;

        }
    }

    // .about-info__text

    &__text {
        display: block;
        font-weight: 400;
        font-size: calc(14px + (18 - 14) * ((100vw - 475px) / (1270 - 475)));
        line-height: 2.22;
        letter-spacing: -0.02em;
        text-transform: capitalize;
        text-align: center;
        align-items: center;



        @media(max-width:625px) {
            line-height: 2.14;

        }
    }

    // .about-info__down


}

.items {

    // .items__lists

    &__lists {

        text-transform: capitalize;
        display: flex;
        flex-shrink: 0;
        flex-direction: row;
        column-gap: calc(20px + (50 - 20) * ((100vw - 475px) / (1270 - 475)));
        row-gap: 20px;
        overflow: hidden;

        white-space: nowrap;
        animation: line 10s linear infinite alternate;

        @media(any-hover:hover) {
            &:hover {

                animation-play-state: paused;

            }

        }

        @media(max-width:695px) {
            padding: 40px 0px;

        }

        li {

            &::after {
                content: "";
                margin: 0 auto;
                width: 10px;
                height: 10px;
                border-radius: 50%;

                margin-left: calc(20px + (50 - 20) * ((100vw - 475px) / (1270 - 475)));

                background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 51%, rgba(36, 0, 255, 1) 100%);
            }
        }
    }

    // .items__list

    &__list {
        @media(any-hover:hover) {
            &:hover {
                color: $hoover_color;
                animation-play-state: paused;
                cursor: pointer;
            }
        }
    }
}


.page {

    // .page__  


    &__best-edits {
        padding-bottom: calc(20px + (50 - 20) * ((100vw - 475px) / (1270 - 475)));
        
        padding-top: calc(20px + (76 - 20) * ((100vw - 475px) / (1270 - 475)));

        background: linear-gradient(180deg, rgb(0 0 0 / 91%) 0%, rgb(0 0 0 / 93%) 37%, rgb(0 0 0 / 87%) 100%), url(../img/bg.png) 0 43% / cover no-repeat;



    }
}



.best {
    display: flex;
    flex-direction: column;
    row-gap: calc(30px + (120 - 30) * ((100vw - 475px) / (1270 - 475)));



    // .best__title

    &__title {

        font-size: calc(24px + (40 - 24) * ((100vw - 475px) / (1270 - 475)));
        display: block;
        text-align: left;
        font-family: "Exo", sans-serif;
        font-weight: 700;
        width: calc(193px + (571 - 193) * ((100vw - 475px) / (1270 - 475)));
        ;
        text-transform: uppercase;

        &::after {

            max-width: 100%;
            height: 1px;
            display: block;

            content: "";
            background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(66, 255, 0, 1) 51%, rgba(36, 0, 255, 1) 100%);
            margin-top: 25px;


        }


        @media (max-width:695px) {

            line-height: 1.25;

        }
    }

    // .best__slider

    &__slider {

        display: flex;
        overflow-x: scroll;

        align-items: center;
        column-gap: calc(20px + (40 - 20) * ((100vw - 475px) / (1270 - 475)));


    }
}

.sliders {



    // .sliders__card

    &__card {

        display: flex;

        flex-direction: column;
        row-gap: calc(20px + (40 - 20) * ((100vw - 475px) / (1270 - 475)));
        flex-shrink: 1;


        @media(max-width:695px) {
            flex-wrap: wrap;
        }

    }
}

.slider {
    position: relative;


    // .slider__foto

    &__photo {
        transition: all 0.8s;

        img {
            width: calc(193px + (360 - 193)*((100vw - 475px) / (1270 - 475)));
            height: calc(193px + (360 - 193)*((100vw - 475px) / (1270 - 475)));
            object-fit: cover;

            overflow: hidden;
            object-position: center;


        }

        &:hover {
            outline-offset: -10px;
            outline: 10px solid $hoover_color;


        }


    }

    &__btn {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
        position: absolute;
        transition: all 0.8s;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        @media(any-hover:hover) {
            &:hover .slider__play {

                visibility: visible;


            }

        }
    }

    // .slider__icon

    &__button {
        width: calc(53px + (100 - 53) * ((100vw - 475px) / (1270 - 475)));
        height: calc(53px + (100 - 53) * ((100vw - 475px) / (1270 - 475)));
        background: url('../img/play.svg') 0 center/100% no-repeat;
        border-radius: 50%;
        overflow: auto hidden;
        transition: all 0.8s;

        @media(any-hover:hover) {
            &:hover {
                background-color: $hoover_color;
                outline-offset: -2px;
                outline: 4px solid $hoover_color;


            }

        }



    }

    &__play {
        font-family: "Exo", sans-serif;
        font-weight: 700;
        font-size: calc(14px + (40 - 14)*((100vw - 475px) / (1270 - 475)));
        transition: all 0.3s;
        text-transform: uppercase;
        color: #ffffff;
        visibility: hidden;


    }

    // .slider__subtitle
    &__subtitle {
        font-weight: 700;
        font-size: calc(14px + (40 - 14) * ((100vw - 475px) / (1270 - 475)));
        transition: all 0.8s;
        text-transform: uppercase;
        text-align: center;

        @media(max-width:695px) {
            line-height: 107%;

        }

        @media(any-hover:hover) {
            &:hover {
                color: $hoover_color;
                transform: scale(1.02);
            }
        }
    }
}